<body>
    <div *ngIf="produtos$" class="row">
        <div *ngFor="let produto of produtos$">
            <div class="card" style="width: 18rem;">
                <div class="card-body" >
                    <h5 class="card-title">{{produto.Nome}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Preço: R$ {{produto.Valor}}</h6>
                    <p class="card-text">{{produto.Descricao}}</p>
                    <a href="#" class="card-link">Detalhes do Produto</a>
                </div>
            </div>
        </div>
    </div>
</body>