<div class="grid-cadastro" *ngIf="dadosDoUsuario">
    <h4>Meus dados</h4>
    <div>
        <div>
            <label>Nome Completo:</label>
            <input  class="form-control" type="text" placeholder={{dadosDoUsuario.FullName}} readonly>
        </div>
        <br>
        <div>
            <label>E-mail:</label>
            <input  class="form-control" type="text" placeholder={{dadosDoUsuario.Email}} readonly>
        </div>
        <br>
        <div>
            <label>Cidade:</label>
            <input *ngIf="campoEditar" class="form-control" name="City" [(ngModel)]="dadosAtualizados.City" type="text">
            <input *ngIf="!campoEditar" class="form-control" type="text" value={{dadosDoUsuario.City}} readonly>
        </div>
        <br>
        <div>
            <label>Endereço:</label>
            <input *ngIf="campoEditar" class="form-control" name="Address" [(ngModel)]="dadosAtualizados.Address" type="text">
            <input *ngIf="!campoEditar" class="form-control" type="text" value={{dadosDoUsuario.Address}} readonly>
        </div>
        <br>
        <div>
            <label>Número:</label>
            <input *ngIf="campoEditar" class="form-control" name="AddressNumber" [(ngModel)]="dadosAtualizados.AddressNumber" type="number">
            <input *ngIf="!campoEditar" class="form-control" type="number" value={{dadosDoUsuario.AddressNumber}} readonly>
        </div>
        <br>
        <div *ngIf="!campoEditar" class="btnCadastrar">
            <button type="submit" class="btn btn-warning" (click)="exibirCampoEditar()">
                Editar dados</button>
        </div>
        <div *ngIf="campoEditar" class="btn-toolbar justify-content-between">
                <button type="submit" (click)="editarDados()" class="btn btn-warning">
                    Salvar edição!</button>
                <button type="submit" (click)="cancelarEdicao()" class="btn btn-warning">
                    Cancelar edição</button>
            </div>
    </div>
</div>