<nav class="navbar navbar-expand-lg navbar-custom navbar-light">
  <a class="navbar-brand" href="">Passar Adiante</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="login">Faça seu login</a>
      <a class="nav-item nav-link" href="cadastro">Crie sua conta</a>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Anuncie
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Produto</a>
          <a class="dropdown-item" href="#">Serviço</a>
        </div>
      </li>
    </div>
  </div>
</nav>



