  .grid-cadastro{
    box-shadow: rgb(67, 67, 67) 0px 2px 4px 0px;
    background-color: rgb(255, 255, 255);
    padding: 24px 56px;
    border-radius: 3px;
    box-sizing: border-box;

    margin: 0 auto;
    margin-top: 3%;
    max-width: 430px;
    height: 400px;
  }

  form{
    font-family: 'Quicksand';
  }

  h4{
    padding: 10px;
    text-align: center;
    color: #ffb600;
    font-weight: bolder;
  }

  .btnCadastrar{
    padding: 5px;
    text-align: center;
  }

  button{
    font-weight: bolder;
  }


