<body class="home">
    <div class="d-flex">
        <div class="sidebar bg-light border-right">
            <div class="list-group list-group-flush iten">
                <a href="/produtos" class="list-group-item list-group-item-action bg-light">Produtos</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Serviços</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Feedback</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Sobre nós</a>
            </div>
        </div>
        <div>
            <div>
                <div class="grid-slides">
                    <ngb-carousel class="slides">
                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper">
                                <img src="assets/images/Carrosel/3.jpg">
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper">
                                <img src="assets/images/Carrosel/2.jpg">
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper">
                                <img src="assets/images/Carrosel/1.jpg">
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
                <div class="card">
                    <div class="card-body">
                        <p>O projeto <strong>Passar Adiante</strong> foi criado com o intúito de facilitar a negociação de produtos
                            hospitalares e também de divulgar ótimos serviços de profissionais qualificados.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

























