<body class="home">
    <div class="container" style="max-width: 900rem;">
        <div class="grid-slides">
            <ngb-carousel class="slides">
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="assets/images/Carrosel/3.jpg">
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="assets/images/Carrosel/2.jpg">
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="assets/images/Carrosel/1.jpg">
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
        <div class="card">
            <div class="card-body">
                <p>O projeto <strong>Passar Adiante</strong> foi criado com o propósito de facilitar a negociação de
                    produtos
                    hospitalares e também de divulgar ótimos serviços de profissionais qualificados.</p>
            </div>
        </div>
    </div>
</body>