<form class="form-busca" name="busca" id="form-busca">
    <label class="texto-da-procura">O que você procura?</label>
    <input class="procura" type="text">
    <input type="submit" value="Buscar" />


</form>
<div class="container-box">
    <div class="categorias">

        <div class="categoria-produto">
            <label class="label-produto">Produtos</label>
            <ol>
                <p class="cadeiras">
                    <a href="produtos/cadeiras">Cadeiras</a>
                </p>
            </ol>
            <ol>
                <p class="mascara">
                    <a href="produtos/mascara">Mascaras</a>
                </p>
            </ol>
            <ol>
                <p class="locomoção">
                    <a href="produtos/locomoção">Locomoção</a>
                </p>
            </ol>
            <ol>
                <p class="vestimentas">
                    <a href="produtos/vestimentas">Vestimentas</a>
                </p>
            </ol>
            <ol>
                <p class="camas">
                    <a href="produtos/camas">Camas</a>
                </p>
            </ol>
            <ol>
                <p class="respiradores">
                    <a href="produtos/respiradores">Respiradores</a>
                </p>
            </ol>
        </div>
        <div class="container-box2">
            <div class="categorias2">
        <div class="categoria-serviço">
            <div class="serviços">
                <label class="label-serviço">Profissionais</label>
                <ol>
                    <p class="cuidadoras">
                        <a href="serviços/cuidadoras">Cuidadoras</a>
                    </p>
                </ol>
                <ol>
                    <p class="enfermeiras">
                        <a href="serviços/enfermeiras">Enfermeiras</a>
                    </p>
                    <p class="medicos">
                        <a href="serviços/madicos">Médicos</a>

                    </p>
                    <p class="fisioterapeutas">
                        <a href="serviços/fisioterapeutas">Fisioterapeutas</a>
                    </p>
                </ol>
            </div>
        </div>
    </div>
</div>